In [1]:
import pandas as pd

DATA_URL = '../data/deaths_raw.csv'

In [2]:
## Read data into a pandas dataframe
df = pd.read_csv(DATA_URL)
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,2,4,4,4,4,4,4,4,6
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,5,5,6,8,10,10,11,15,15,16
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,19,21,25,26,29,31,35,44,58,86
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,3,3,3,6,8,12,14,15
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2

In [3]:
df.drop(['Province/State', 'Lat', 'Long'], axis=1,inplace=True)
df.set_index('Country/Region', inplace=True)

In [4]:
df_country = df.groupby(['Country/Region']).sum()

df_country.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,1,2,4,4,4,4,4,4,4,6
Albania,0,0,0,0,0,0,0,0,0,0,...,5,5,6,8,10,10,11,15,15,16
Algeria,0,0,0,0,0,0,0,0,0,0,...,19,21,25,26,29,31,35,44,58,86
Andorra,0,0,0,0,0,0,0,0,0,0,...,1,1,3,3,3,6,8,12,14,15
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,2,2

In [5]:
df_country_day = df_country.unstack()
df_country_day

         Country/Region
1/22/20  Afghanistan           0
         Albania               0
         Algeria               0
         Andorra               0
         Angola                0
                              ..
4/2/20   Venezuela             5
         Vietnam               0
         West Bank and Gaza    1
         Zambia                1
         Zimbabwe              1
Length: 13032, dtype: int64

In [21]:
df_change = df_country_day.to_frame(name='deaths')
df_change['yesterdays_deaths'] = df_change.groupby(['Country/Region'])['deaths'].shift(1)
df_change['change_in_deaths'] = df_change['deaths'] - df_change['yesterdays_deaths']
df_change

                            deaths  yesterdays_deaths  change_in_deaths
        Country/Region
1/22/20 Afghanistan              0                NaN               NaN
        Albania                  0                NaN               NaN
        Algeria                  0                NaN               NaN
        Andorra                  0                NaN               NaN
        Angola                   0                NaN               NaN
...                            ...                ...               ...
4/2/20  Venezuela                5                3.0               2.0
        Vietnam                  0                0.0               0.0
        West Bank and Gaza       1                1.0               0.0
        Zambia                   1                0.0               1.0
        Zimbabwe                 1                1.0               0.0

[13032 rows x 3 columns]

In [22]:
df_change.to_csv('../data/df_death_changes.csv')

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:changeme@postgres:5432/covid', isolation_level='AUTOCOMMIT')
conn = engine.connect()

# conn.execute('create database covid;')

In [11]:
# Insert data into postgresSQL - a bit slow - there are better ways here
df_country_day.to_sql('total_deaths', engine)

ValueError: Table 'total_deaths' already exists.

In [16]:
sql_query = '''
    drop materialized view deaths_change_country_date;
    
    create materialized view deaths_change_country_date as (
    with total_deaths_clean as (
        select distinct "Country/Region" as country
        , to_date(level_0, 'M/DD/YY') as date
        , "0" as deaths
        from total_deaths 
    ) 

    -- select * from total_deaths_clean
    select country
    , date
    , deaths
    , lead(deaths) over(partition by country order by date) as yesterdays_deaths
    , lead(deaths) over(partition by country order by date) - deaths as deaths_change
    from total_deaths_clean
    )
    ;
'''
conn.execute(sql_query)
# result not needed here.

In [17]:
df_sql_death_changes = pd.read_sql('select * from deaths_change_country_date ;', conn)
df_sql_death_changes.head()

       country        date  deaths  yesterdays_deaths  deaths_change
0  Afghanistan  2020-01-01       0                4.0            4.0
1  Afghanistan  2020-01-01       4                6.0            2.0
2  Afghanistan  2020-01-02       6                0.0           -6.0
3  Afghanistan  2020-01-02       0                0.0            0.0
4  Afghanistan  2020-01-03       0                0.0            0.0

In [18]:
df_sql_death_changes.to_csv('../data/swl_death_changes.csv')